@model IEnumerable<DestinoViewModel>

@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
    ViewBag.Title = "Lista de Destinos";

}

<h2>Destinos</h2>

<a class="btn btn-primary mb-4" asp-action="crear">Registrar destino</a>

<a asp-action="ExportarCsv" class="btn btn-primary mb-4">
    Exportar a CSV
</a>

@if (Model.Any())
{
    <table class="table table-striped" border="1">
        <thead>
            <tr>
                <th>Destino</th>
                <th>País</th>
                <th>Acciones</th>
            </tr>
        </thead>
        <tbody>

            @foreach (var item in Model)
            {
                <tr>
                    <td>@item.Nombre</td>
                    <td>@item.Pais.Nombre</td>
                    <td>
                        @Html.ActionLink("Editar", "Editar", new { id = item.Id }) |
                        @Html.ActionLink("Eliminar", "Eliminar", new { id = item.Id })
                    </td>
                </tr>
            }
        </tbody>
    </table>

}
else
{
    <p>No hay destinos registrados</p>
}

